---
title: Outils de développement
layout: presentation
---

<script>
    import { List } from '$lib/client/components/revealjs/custom';
</script>

## Environnement d'exécution JavaScript (Runtime Environment)

Pour exécuter du code JavaScript sur notre ordinateur (et non pas seulement dans le navigateur), nous avons besoin d'un **environnement d'exécution JavaScript**. Un environnement d'exécution est un logiciel qui permet d'exécuter du code JavaScript en dehors d'un navigateur web, souvent en faisant usage d'un moteur JavaScript comme **V8** (utilisé par Google Chrome).

> L'environnement d'exécution le plus populaire est **Node.js**. Toutefois, il existe d'autres environnements d'exécution JavaScript, tels que **Deno** et **Bun**, qui offrent des fonctionnalités différentes et des performances améliorées.

> Dans notre cas, nous allons utiliser **Bun** puisque c'est l'environnement d'exécution le plus rapide et le plus moderne.

---

## Environnement d'exécution JavaScript (Runtime Environment)

Attention! En décembre 2025, Anthropic (la compagnie qui a créé le modèle Claude) ont fait l'acquisition de Bun.

<List fragment paragraph="Voici quelques informations intéressantes à propos de Bun et de son acquisition par Anthropic :">
    <li class="fragment">Anthropic utilisait déjà Bun pour ses propres applications avant l'acquisition</li>
    <li class="fragment">Les performances de Bun ont été un atoût important dans la création de Claude Code.</li>
    <li class="fragment">Tous les développeurs de Bun ont rejoint Anthropic après l'acquisition. Cela garantit une maintenance et un développement continus de Bun.</li>
    <li class="fragment">Anthropic a confirmé que Bun restera open-source, mais ils semblent prendre beaucoup de décisions sans consulter la communauté. (ex: migration de Zig à Rust)</li>
    <li class="fragment">Possiblement que Bun prendra une place importante dans l'écosystème IA d'ici quelques années.</li>
</List>